body{
    margin: 0;
    padding: 0;
    background: url("https://i.imgflip.com/5swu8a.png") no-repeat center center fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-size: 100% 100%;
    text-align: center;
}

@font-face {
    font-family: 'Gamer';
    src: url('Gamer.ttf');
   }


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 22vw 20vw 22vw;
    text-align: center;
    padding: 20px;
    
    padding-top: 20vh;
    align-items: center;
    justify-content: center;

}

.namePokemon, .namePokemonEnemy{
    font-family: "Gamer";
    font-size: 40px;
}

.typePokemon{
    font-family: "Gamer";
    font-size: 30px;
    text-shadow: 0px 0px 8px yellow;
}

.typePokemonEnemy{
    font-family: "Gamer";
    font-size: 30px;
    text-shadow: 0px 0px 8px green;
}

.mainPokemon{

    width: 22vw;
    height: auto;    
    border: 2px solid black;
    background-image: url("img/background.jpg");
    background-size: auto;
    margin-bottom: 10px;

}

.mainPokemon img{
    vertical-align: middle;
    width: 20vw;
}

progress{
    height: 20px;
    width: 10vw;
    border: 2px solid black;
}

progress::-webkit-progress-bar {
    background-color: white;
  }
  progress::-webkit-progress-value {
    background-color: green;
  }

.hpPointEnemy, .hpPoint{
    font-family: "Gamer";
    font-size: 30px;
}

.box2{
    position: relative;
}

.buttons img{
    padding-bottom: 30px;
}

.buttons button{
   font-size: 30px;
   border: 5px solid black;
   padding: 5px;
   background: linear-gradient(#4165e0, #afc1ff, #4165e0);
   color: black;
   font-family: "Gamer";
   cursor: pointer;
}

.buttons button:hover{
    background: linear-gradient(#2d4699, #95a5dd, #2d4699);
    color: black;
}

.attackBtn{
    margin-right: 20px;
}

.skillCheck{
    margin-top: 35px;
    height: 25px;
}

.skillCheckVisible{

    margin-right: auto;
    margin-left: auto;

    margin-top: 35px;
    height: 25px;
    width: 15vw;
    background-image:
      linear-gradient(
        to right, 
        #ff0000 20%,
        #ff9900 20%,
        #ff9900 40%,
        #f1ff2c 40%,
        #f1ff2c 48%,
        #00ff0d 48%,
        #00ff0d 52%,
        #f1ff2c 52%,
        #f1ff2c 42%,
        #f1ff2c 60%,
        #ff9900 60%,
        #ff9900 80%,
        #ff0000 80%
      );
    border: 2px solid black;

}

.visibleMarker{
    height: 30px;
    width: 5px;
    background: linear-gradient(#4165e0, #afc1ff, #4165e0);
    z-index: 9;

    position: absolute;
    animation: linear infinite alternate;
    animation-name: run;
    animation-duration: 4s;
}

@keyframes run {
    0% {
      left: 13%;
    }

    100% {
      left: 86%;    
    }
}


.enemyPokemon{
    width: 22vw;
    height: auto;    
    border: 2px solid black;
    background-image: url("img/background.jpg");
    background-size: auto;
    margin-bottom: 10px;
}

.enemyPokemon img{
    vertical-align: middle;
    width: 20vw;
}